<div class="grid">
    <div class="col-12">
        <div class="info-card">
            <div class="grid justify-content-center align-items-center">
                <div class="flex flex-column align-items-start justify-content-between md:col-12 lg:col-10 sm:col-12">
                    <h3>¡Hola Luca!</h3>
                    <p class="text-left">
                        Estás en tu panel de estudiante, aquí podrás inscribirte a nuestra amplia variedad de ofertas
                        académicas.
                        También tendrás acceso a solicitar documentación sobre tus cursadas y ver los registros de tus
                        pagos de
                        manera rápida y sencilla.
                    </p>
                </div>
                <div class="md:col-12 lg:col-2 sm:col-12 ">
                    <img src="assets/demo/images/home/images_students1.png" alt="images_students1" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="card-header">
                <p>
                    Pendientes de admisión o inscripción
                </p>
            </div>
            <div class="card-body flex justify-content-between">
                <div>
                    <img src="assets/demo/images/home/images_students2.png" alt="images_students2" />
                </div>
                <p>Acá visualizarás admisiones o pagos pendientes a Carreras. Inicia tu inscripción.</p>
            </div>
            <div class="card-footer">
                <p-button severity="secondary" label="¡Explora nuestro catálogo educativo!" />
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0">
            <div class="card-header">
                <p>
                    En curso o listas para comenzar
                </p>
            </div>
            <div class="card-body flex justify-content-between">
                <div>
                    <img src="assets/demo/images/home/images_students2.png" alt="images_students2" />
                </div>
                <p>Acá visualizarás tu oferta académica en curso o por iniciar. Inicia tu inscripción.</p>
            </div>
            <div class="card-footer">
                <p-button severity="secondary" label="¡Explora nuestro catálogo educativo!" />
            </div>
        </div>
    </div>
</div>