<div class="surface-ground flex min-h-screen min-w-screen overflow-hidden">
    <div class="w-full">
        <div class="flex flex-column align-items-center justify-content-center min-h-screen px-10">
            <div class="flex flex-column align-items-center w-full mb-5 px-5">
                <h1 class="mb-5">IRG English School</h1>
                <p-button class="flex align-items-center justify-content-center text-sm font-medium mx-0"
                    [outlined]="true">
                    <i class="pi pi-google px-3"></i>
                    Login with Google
                </p-button>
            </div>
            <div class="flex align-items-center w-full px-5">
                <div class="line-divider"></div>
                <span class="px-2">O</span>
                <div class="line-divider"></div>
            </div>

            <div class="w-full py-5 px-5">
                <form class="flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <label for="email" class="block text-sm font-light mb-2">Email</label>
                    <input id="email" formControlName="email" type="text" placeholder="Email address" pInputText
                        class="w-full mb-5">

                    <label for="password" class="block font-light text-sm mb-2">Password</label>
                    <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true"
                        styleClass="mb-5 w-full" inputStyleClass="w-full"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)">Forgot password?</a>
                    </div>
                    <button
                        pButton
                        pRipple
                        type="submit"
                        label="Sign In"
                        class="w-full text-sm"
                        [disabled]="this.isLoading"
                    ></button>
                </form>
            </div>

            <div class="flex flex-column align-items-center justify-content-center px-5 py-5">
                <a class="font-medium mb-5">Do you need help?</a>
                <p class="text-center">
                    Al iniciar sesión, estás aceptando nuestros
                    <a href="">Términos y Condiciones</a>
                    y nuestra política sobre
                    <a href="">Protección de Datos</a>
                </p>
            </div>
        </div>
    </div>
    <div class="hidden xl:flex xl:flex-column xl:justify-content-center xl:align-items-center w-full bgImg"></div>
</div>
<p-toast position="bottom-right" />