.line-divider{
    height: 1px;
    width: 50%;
    background-color: white;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.bgImg{
    //background-position: center;
    background-image: url(../../../../../assets/demo/images/access/british-busses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.none-padding-x{
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.px-10{
    padding-left: 10rem;
    padding-right: 10rem;
}

@media screen and (max-width: 750px) {
    .px-10{
        padding-left: 0;
        padding-right: 0;
    }
}
